<div class="panel">
    <div class="status">
        <div *ngIf="this.signalR.currentPanelData" style="height: 100%;width: 100%;"
            [style.background-color]="this.signalR.currentPanelData[this._index].statusBar">
        </div>
    </div>
    <div class="value" [style.color]="color">
        <div *ngIf="this.signalR.currentPanelData">
            {{this.signalR.currentPanelData[this._index].numericalValue| number:'1.0-3'}}
        </div>
    </div>
    <div class="description">
        <div class="unit">{{this.unit}}</div>
        <div class="chineseName">{{this.chineseName}}</div>
    </div>
</div>