.head {
    display: flex;
    align-items: center;
}

.paramSelect {
    display: inline-block;
    margin: 1rem;
}

.Info {
    width: 15rem;
    margin-left: 2rem;

    input {
        width: 15rem;
    }
}

.item {
    width: 10rem;
    margin-left: 2rem;
}

.largeItem {
    width: 30rem;
    margin-left: 2rem;
}


.paramSelect nz-select {
    width: 15rem;
}

.tag {
    position: relative;
}

.tag nz-tag {
    position: absolute;
    left: -7rem;
    top: 0.5rem;
}


input {
    background-color: transparent;
    border: none;
}

::ng-deep .ant-btn-round {
    margin: 0.5rem;
}

::ng-deep .anticon {
    vertical-align: 0.2em;
}

:host ::ng-deep .ant-divider-vertical {
    top: 0.2rem;
    height: 6rem;
    border-left: 0.3rem solid #9590C7
}

// ::ng-deep .ant-descriptions-row {
//     border-top: 1px solid #d9d9d9;
// }

// ::ng-deep .ant-descriptions-row:nth-child(2) {
//     border-bottom: 1px solid #d9d9d9;
// }