<div nz-row nzJustify="space-between" nzAlign="middle" class="nav">

    <div nz-col nzSpan="8" class="title"><span>TPL智能故障诊断系统</span>
        <span class="time">{{time}}</span>
    </div>

    <div nz-col nzSpan="5" class="router">
        <a routerLink="/dashboard" routerLinkActive="active">状态监测</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a routerLink="/dashboard">检测报告</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a routerLink="/dashboard">统计分析</a>

    </div>

    <div nz-col nzSpan="8" class="menu">
        <nz-avatar *ngIf="!imgScr" [nzSize]="iconRem" [nzText]="User" nz-dropdown nzTrigger="hover"
            [nzDropdownMenu]="IDMenu">
        </nz-avatar>
        <nz-avatar *ngIf="imgScr" [nzSize]="iconRem" [nzSrc]="imgScr" nz-dropdown nzTrigger="hover"
            [nzDropdownMenu]="IDMenu">
        </nz-avatar>
        <nz-dropdown-menu #IDMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="personalInfoManagement()">个人信息设置</li>
                <li *abpPermission="'AbpIdentity.Roles'" nz-menu-item (click)="authorityManagement()">系统权限管理</li>
                <li nz-menu-item (click)="logout()">账号注销</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-dropdown nzTrigger="hover" [nzDropdownMenu]="setMenu">设置</button>
        <nz-dropdown-menu #setMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="setSensorInfo()">传感器信息设置</li>
                <li nz-menu-item (click)="setDataSending()">数据发送设置</li>
                <li nz-menu-item>XXX待定</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-dropdown nzTrigger="hover" [nzDropdownMenu]="fileMenu">文件</button>
        <nz-dropdown-menu #fileMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>数据导入</li>
                <li nz-menu-item>数据导出</li>
                <li nz-menu-item (click)="downloadFaultData()">历史故障信息下载</li>
                <li nz-menu-item>帮助文档下载</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-dropdown nzTrigger="hover" [nzDropdownMenu]="algorithmMenu">算法</button>
        <nz-dropdown-menu #algorithmMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>手动算法</li>
                <li nz-menu-item>专家系统</li>
                <li nz-menu-item>历史数据查看</li>
            </ul>
        </nz-dropdown-menu>

    </div>
</div>