<div class="form">
    <div class="name">登录</div>
    <form nz-form [formGroup]="loginForm">
        <nz-form-item>
            <nz-form-control nzErrorTip="用户名不能为空">
                <input type="text" formControlName="userName" placeholder="用户名" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="密码至少6位且包含小写字母与数字">
                <input type="password" formControlName="password" placeholder="密码" />
            </nz-form-control>
        </nz-form-item>
        <button (click)="login()">登录</button>
    </form>
</div>