<div class="background">
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <div class="text">
                    <span>欢迎使用XXX系统</span>
                    <span class="extra">请登录您的账号密码</span>
                </div>
            </div>
            <div class="back">
                <div class="text">
                    <span>欢迎使用XXX系统</span>
                    <span class="extra">请注册您的账号</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="signupform">
                <app-sign-up-form></app-sign-up-form>
                <div class="text sign-up-text">已经注册账号？请点击这里<label for="flip">前去登录</label></div>
            </div>
            <div class="loginform">
                <app-login-form></app-login-form>
                <div class="text login-text">还没有账号？请点击这里<label for="flip">前去注册</label></div>

            </div>
        </div>
    </div>
</div>