.main {
    padding: 1rem 1.5rem;
}
.main .chineseName,.main .parameterName{
    background: #C4D3F9;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.main .laber{
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-bottom: -0.4rem;
}
.main .info{
    font-size: 2.4rem;
    text-align: center;
    font-family: "Microsoft JhengHei";
    font-weight: 600;
}

.main .parameterName .info input{
    background-color: transparent;
    text-align: center;
    font-size: 2.4rem;
    border: none;
    outline: none;
    font-family: "Microsoft YaHei";
}

.main .buttonGroup .button{
    display: inline-block;
    margin-top: 0;
    width: 20%;
    padding: 0 1rem;
}
.main .buttonGroup .button button{
    width: 100%;
    background: linear-gradient(90deg, rgba(81, 69, 158, 0.58) 0%, #C4D3F9 100%);
    box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.4rem;
    height: 2.5rem;
    margin: 0;
}
.main .buttonGroup .button button[disabled]{
    background: #C4C4C4!important;
    cursor: not-allowed;
}

.main .timeDomainChart,.main .frequencyDomainChart{
    margin-top: 1.5rem;
    width: 100%;
    height: 27.8rem;
    background-color: #F2F7FF;
    border: 0.1rem solid #C4D3F9;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.main button{
    margin-top: 1rem;
}

::ng-deep .ant-btn-primary{
    background: linear-gradient(90deg, rgba(81, 69, 158, 0.58) 0%, #C4D3F9 100%);
    box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 1.4rem;
    border: none;
    transition:none;
    font-size: 1.4rem;
}
::ng-deep .ant-btn-primary:hover{
    background: linear-gradient(90deg, rgba(81, 69, 158, 0.5) 0%, #C4D3F9 100%);
}
:host ::ng-deep .ant-btn{
    height: 3.2rem;
}