<div class="main">
    <div class="chineseName">
        <div class="laber">
            中文名
        </div>
        <div class="info">
            {{this.chineseName}}
        </div>
    </div>

    <div class="parameterName">
        <div class="laber">
            型号
        </div>
        <div class="info">
            <input [(ngModel)]="paraID" [disabled]="!this.fabricService.editMode" />
        </div>
    </div>

    <div class="buttonGroup">
        <div class="button">
            <button (click)="switch()">{{ this.fabricService.editMode?'查看':'编辑' }}</button>
        </div>
        <div class="button">
            <button (click)="createSensor()" [disabled]="!this.fabricService.editMode">创建</button>
        </div>
        <div class="button">
            <button (click)="inquireSensor()" [disabled]="!this.fabricService.editMode">查询</button>
        </div>
        <div class="button">
            <button (click)="deleteSensor()" [disabled]="!this.fabricService.editMode">删除</button>
        </div>
        <div class="button">
            <button (click)="saveSensor()" [disabled]="!this.fabricService.editMode">保存</button>
        </div>
    </div>

    <div class="timeDomainChart">
        <app-time-domain-chart></app-time-domain-chart>
    </div>

    <div [style.visibility]="(this.sensor.currentHighFrequencyList.includes(this.fabricService.target?.name)) ? 'visible' : 'hidden'"
        class="frequencyDomainChart">
        <app-frequency-domain-chart></app-frequency-domain-chart>
    </div>

    <button nz-button nzType="primary" nzBlock (click)="imageSetting()">选择系统主视图</button>
    <button nz-button nzType="primary" nzBlock (click)="uploadSensorLocation()">保存页面配置至服务器</button>
</div>