
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #C4D3F9;
@primary-color: #9590C7;
@info-color:#9CA0AB;
@body-background:#F2F7FF;
@error-color:#FC5B5D;
@warning-color:#FCBE30;
@processing-color:#84E8F4;
@success-color:#41B674;
@normal-color:#51459E;
@text-color:#9CA0AB;

