<app-nav></app-nav>

<div nz-row class="main" nzJustify="space-around" style="width: 99%;margin: auto;">
    <div nz-col [nzSpan]="4" class="left">

        <div nz-row nzJustify="space-between" style="height: 13.3rem;" class="mainMonitor">
            <div nz-col nzSpan="10">
                <app-status-panel [index]="this.index[0]"></app-status-panel>
            </div>
            <div nz-col nzSpan="10">
                <app-status-panel [index]="this.index[1]"></app-status-panel>
            </div>
        </div>
        <div nz-row nzJustify="space-between" style="height: 13.3rem;" class="mainMonitor">
            <div nz-col nzSpan="10">
                <app-status-panel [index]="this.index[2]"></app-status-panel>
            </div>
            <div nz-col nzSpan="10">
                <app-status-panel [index]="this.index[3]"></app-status-panel>
            </div>
        </div>

        <div style="height: 30rem;" class="pieChart">
            <app-statistics></app-statistics>
        </div>

        <div style="height: 28rem;" class="Word">
            <app-description></app-description>
        </div>

    </div>
    <div nz-col [nzSpan]="13" class="middle">

        <span>状态：{{this.fabricService.editMode?'编辑':'查看'}}</span>
        <button (click)="switchFunction()">查看{{this.fabricService.function ? '单个':'整体'}}</button>
        <div style="height: 100%;">
            <nz-tabset nzCentered>
                <div *ngFor="let source of this.sources">
                    <nz-tab (nzClick)="switchSource(source)" [nzTitle]="source">
                        <ng-template nz-tab>
                            <app-main-view [source]="source"></app-main-view>
                        </ng-template>
                    </nz-tab>
                </div>
            </nz-tabset>
        </div>

    </div>
    <div nz-col [nzSpan]="6" class="right">

        <div style="height: 100%;">
            <app-overall-parameters *ngIf="this.fabricService.function"></app-overall-parameters>
            <app-single-parameter *ngIf="!this.fabricService.function"></app-single-parameter>
        </div>

    </div>
</div>