.left .mainMonitor div,.left .pieChart,.left .Word,.middle div,.right div{
    background-color:white;
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem 0px;
    border: rgba(156, 160, 171,0.3) solid 0.1rem;
}
.left .mainMonitor,.left .pieChart,.left .Word{
    margin-bottom: 2rem;
}
.left .mainMonitor:first-child{
    margin-bottom: 1rem;
}

.left div:last-child{
    margin-bottom: 0;
}

.middle span{
    float: left;
    color: #9CA0AB;
    padding: 1.5rem 0 0 1.5rem;
    font-size: 1.4rem;
}

.middle button{
    margin-right: 1.5rem;
    background: linear-gradient(90deg, rgba(81, 69, 158, 0.58) 0%, #C4D3F9 100%);
    box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    width: 8rem;
}

::ng-deep .ant-tabs-top > .ant-tabs-nav::before{
    border: none;
}
::ng-deep .ant-tabs-tab{
    font-size: 1.6rem;
    padding: 1.2rem 0;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    font-size: 1.7rem;
    font-weight: 500;
}
