li span{
    display:inline-block;
    max-width: 95%;
    font-size: 1.4rem;
    color: black;

}
li .statusBar{
    width: 0.8rem;
    height: 1.4rem;
    margin: 0.4rem 0.5rem 0 0;
    vertical-align: top;
}
div {
    overflow-y: auto;
    height: 23rem;
}